<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>小明の后台管理</title>
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
</head>
<body>
<% include partial/navbar %>
<% include partial/slidebar %>
<div class="container">
    <iframe id="frame" name="frame" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" style="border: 5px;min-height: 1000px;"></iframe>
</div>
<script src="/javascripts/jquery-2.1.4.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script>
    $(function(){
       $(".nav-header").click();
        $(".nav-header").on("click",function(){
            var that = $(this).find(".pull-right");
           if(that.hasClass("glyphicon-chevron-down")) {
               that.removeClass("glyphicon-chevron-down").addClass("glyphicon glyphicon-chevron-up");
           }else{
               that.removeClass("glyphicon-chevron-up").addClass("glyphicon glyphicon-chevron-down");
           }
        });
    });
</script>
</body>
</html>
