<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>小明の后台管理</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/fine-uploader.min.css' />
    <link rel="stylesheet" href="/DataTables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
</head>